# URI string for the migration database (eg `postgresql://user:pass@server:port/db`)
MIGRATION_DB=
# Connection string for the default database (the one used to create/destroy databases)
# The user provided should have permissions to create databases and assign privileges
DEFAULT_DB=
