# URI string for the migration database (eg `postgresql://user:pass@server:port/db`)
MIGRATION_DB=
# Connection string for the default database (the one used to create/destroy databases)
# The user provided should have permissions to create databases and assign privileges.
# Only needed if you are using this system to create the databases
DEFAULT_DB=
# Name of the table that tracks which migrations have and have not been applied
MIGRATION_TABLE=
