# Connection string for the admin database (the one used to create/destroy databases)
# The user provided should have permissions to create databases and assign privileges.
# Only needed if you are using this system to create the databases
ADMIN_DB=
# URI string for the user's database (the one being migrated)
# (eg `postgresql://user:pass@server:port/db`)
PROJECT_DB=
# Name of the table that tracks which migrations have and have not been applied
MIGRATION_TABLE=
