# Connection string for the database that defines the naming template for the test
# databases.
POSTGRES_URL=postgres://postgres:secret@localhost/dbtools
# The admin URL is not strictly necessary unless:
# 1. Your postgres instance is nonstandard and is missing the `postgres` or `template1`
#   databases
# 2. The user provided in `POSTGRES_URL` does not have permissions to create databases
#   on your database server.
#POSTGRES_ADMIN_URL=postgres://postgres:secret@localhost/template1

SQLITE_URL=./test.sqlite

# Directory which holds the database seed files for testing
SEED_DIR=../../tests/seeds
