# URI string for the database under test. This is not strictly speaking a part of this
# broader repository, but is provided here as an example. This is the environment variable
# typically used by several database utilities, such as SQLx
DATABASE_URL=postgresql://postgres:secret@localhost/migration_test
# Optional URL to an administrative database. Also not technically part of the bash
# utilities, but potentially useful.
##DATABASE_ADMIN_URL=postgresql://postgres:secret@localhost/postgres

###
# Migration-related environment variables
###

# URI string for the user's database (the one being migrated, typically the same as the project
# database)
# (eg `postgresql://user:pass@server:port/db`)
MIGRATION_URL=$(DATABASE_URL)
# Name of the view that tracks the current schema version
MIGRATION_VIEW_NAME=_schema_version
# Location of the migration files
MIGRATION_DIR=./db/migrations
# When resetting the database via seed, this will be the file that is loaded. Currently the
# seed files should contain the entire database schema.
MIGRATION_SEED_FILE=./db/seeds/00-test-seed.sql

# Connection string for the admin/maintenance database (the one used to create/destroy databases)
# The user provided should have permissions to create databases and assign privileges.
# This is only needed if the maintenance database is NOT `postgres` or `template1`, and/or
# the user provided in the database under test URI does not have permissions to create
# and drop databases.
##MIGRATION_ADMIN_URL=$(DATABASE_ADMIN_URL)

###
# Database schema tracking-related environment variables
###

# Name of the file that holds the base schema for the database under test
SCHEMA_FILE=./db/schema.sql
# Name of the file that will be written to when dumping pure data
MIGRATION_DATA_FILE=./db/data.sql
# Name of the file that will be written to when dumping both schema and data
SCHEMA_DATA_FILE=./db/schema-data.sql
# Output directory for Schema Spy
SCHEMASPY_OUTPUT_DIR=./schemaspy-output

###
# Test tracking environment variables
###
# Location of database seed files used in testing. If combined with the migration system, this
# can automatically run any unapplied migrations to seed files in this folder
TESTDB_SEED_DIR=./db/seeds
# Comma-separated list of files to skip when auto-migrating seed files
##MIGRATION_SKIP_SEED_FILES=
# Test databases are created on request using this url as a base. For example, if this url is:
# postgres://postgres:secret@localhost/mydb
# Then you will get test files like:
# postgres://postgres:secret@localhost/20241016180924_mydb_test_1_name
# postgres://postgres:secret@localhost/20241016180924_mydb_test_2_name
TESTDB_BASE_URL=$(MIGRATION_URL)

